* {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.mx-auto {
	width: 1100px;
}

.kotak {
	background-color: #07b1bc;
}

.card {
	margin-top: 10px;
	background-color: #07b1bc;
}

.fraction {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.2em 0.4ex;
	text-align: center;
}
.span {
	display: block;
	padding-top: 0.15em;
}

.fdn {
	border-top: thin solid black;
}
.bar {
	display: none;
}
